* {
  box-sizing: border-box;
}

html {
  background: white;
}

body, button {
  font: 20px/1.5 futura-pt, sans-serif;
}

body {
  color: #444;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-family: azo-sans-uber, sans-serif;
  font-size: 1.5em;
}
h1 span:nth-child(n+2) {
  color: #6ecadc;
}
h1 span:nth-child(2n+2) {
  color: #e9a820;
}
h1 span:nth-child(3n+2) {
  color: #3eb991;
}
h1 span:nth-child(4n+2) {
  color: #e01563;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul, p {
  margin: 0 0 20px;
}

button {
  border: 0;
  background: #3eb991;
  padding: 0 10px;
}

header {
  line-height: 1.5em;
  padding: 10px;
  border-bottom: 1px solid;
  position: relative;
}

.me {
  position: absolute;
  top: 10px;
  right: 10px;
}

.me a {
  color: #ccc;
  text-decoration: none;
}

.login {
  padding: 20px;
}

.login a {
  text-decoration: none;
  color: white;
}

.channels {
  padding: 10px;
}

.channels h2 {
  font-size: 1em;
}

.channels li {
  cursor: pointer;
}

.channels li.active {
  font-weight: bold;
}

.queue {
  border-left: 1px solid;
  position: absolute;
  top: calc(20px + 1.5em + 1px);
  bottom: 0;
  right: 0;
  left: 15em;
  background-color: white;
  background-position: center center;
  background-size: cover;
}

.queue li {
  padding: 10px;
  border-bottom: 1px solid;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
}

.queue li.playing .song-title {
  font-weight: bold;
}

.queue li .play {
  vertical-align: -0.1em;
  line-height: 1;
}

.queue li .poster {
  position: absolute;
  top: 10px;
  right: 10px;
}

.queue li .service {
  margin-right: 10px;
  font-size: 1.5em;
  vertical-align: middle;
}

.empty-queue {
  padding: 10px;
}
